<form th:action="@{/register}" th:object="${user}" method="post">
    <div class="input-group">
        <input type="text" th:field="*{username}" placeholder="Username" required />
        <div class="input-icon"></div>
    </div>

    <div class="input-group">
        <input type="password" th:field="*{password}" placeholder="Password" required />
        <div class="input-icon"></div>
    </div>

    <div class="input-group">
        <input type="email" th:field="*{email}" placeholder="Email" required />
        <div class="input-icon"></div>
    </div>

    <button type="submit">Register</button>
</form>
